[submodule "SfSCaPoED/DifferentialEquationSolverForStudents"]
	path = SfSCaPoED/DifferentialEquationSolverForStudents
	url = https://github.com/AntonKlekovkin/DifferentialEquationSolverForStudents.git
